#rules {
  width: 100%;
}

#rules .content {
  overflow-y: scroll;
}

@media screen and (min-width: 1280px) {
  #rules .content { 
    height: 410px;
  }
}

@media screen and (min-width: 1920px) {
  #rules .content {
    height: 700px;
  }
}