
/*@font-face {
    font-family: 'sofia_proextra_light_italic';
    src: url('./content/fonts/sofiaproextralight-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sofia_prolight';
    src: url('./content/fonts/sofiaprolight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_prolight_italic';
    src: url('./content/fonts/sofiaprolight-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sofia_promedium';
    src: url('./content/fonts/sofiapromedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_promedium_italic';
    src: url('./content/fonts/sofiapromedium-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}*/

@font-face {
    font-family: 'Sofia Pro Regular';
    src: url('./content/fonts/sofiaproregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Regular';
    src: url('./content/fonts/sofiaproregular-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/*@font-face {
    font-family: 'sofia_problack';
    src: url('./content/fonts/sofiaproblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_problack_italic';
    src: url('./content/fonts/sofiaproblack-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}*/

@font-face {
    font-family: 'Sofia Pro Regular';
    src: url('./content/fonts/sofiaprobold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Regular';
    src: url('./content/fonts/sofiaprobold-italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

/*@font-face {
    font-family: 'sofia_proextra_light';
    src: url('./content/fonts/sofiaproextralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_prosemi_bold_italic';
    src: url('./content/fonts/sofiaprosemibold-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sofia_proultralight';
    src: url('./content/fonts/sofiaproultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_proultralight_italic';
    src: url('./content/fonts/sofiaproultralight-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sofia_prosemi_bold';
    src: url('./content/fonts/sofiaprosemibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}*/